.logoele {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  } 
  
  body {
    background-color: black;
  }
  
  
  .typography {
  
    border-radius: 30px;
    text-align: center;
    font: normal normal normal 16px/21px Mulish;
    letter-spacing: 0.02px;
    color: #36A546;
    opacity: 1;
    margin:1rem;
  }
  
  .design {
    background-color: black;
  }
  
  
  .custom-textfield {
  
    box-shadow: inset 0px 3px 3px #1c01010f, 3px 3px 3px #4A494947;
    border: none;
    background: #2422229e 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    border-radius: 50px;
    outline: none;
   }
  
  .custom_button { 
    width: 230px;
    height: 50px;
    border-radius: 25px;
    padding: 16px 0px 0px 97px;
    border: none;
    background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
mix-blend-mode: normal;
border: 2px solid #8CFF0026;
opacity: 1;
  }